﻿@{
    var Dashboards = new Citation.Dashboard.Viewer.Models.DashboardsModel();
}
@foreach (var folder in Dashboards.Folders)
{
    if (folder.Dashboards.Count > 0)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@folder.Name <span class="caret"></span></a>
            <ul class="dropdown-menu">
                @foreach (var dashboard in folder.Dashboards)
                {
                    <li><a href="~/Home/Index/@dashboard.Id.ToString()" title="@dashboard.Description">@dashboard.Name</a></li>
                }
            </ul>
        </li>
    }
}
