﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Atlas Dashboards</title>
    @Styles.Render("~/Content/css")
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.All }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.All }
    )
    @Scripts.Render("~/bundles/bootstrap")
    <style type="text/css">
        .navbar-inverse {
            background-color: #333332;
            border-color: #333332;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home"><img src="~/Content/AtlasLogoSmall.png" style="height: 26px; margin-top: 10px;" alt="Atlas Dashboards Logo" /></a>
                @*@Html.ActionLink("Atlas Dashboards", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{Html.RenderPartial("_dashboardsmenu");}
                </ul>
                <button onclick="ExportMe();" style="margin-top: 8px; margin-left: 8px;float: right;" type="button" class="btn btn-info navbar-btn" id="export-button">
                    Excel Me!
                </button>                
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: -20px;">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    &copy; @DateTime.Now.Year - Powered By Atlas goodness
                </div>
                <div class="pull-right">
                    Logged in as @User.Identity.Name
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
