﻿@model DashboardDAL.Dashboard
@{
    ViewBag.Title = @Model.Description;
}
<h1 class="text-danger">Unable to Generate Export File - Please check the query within the Dashboard Definition - Only Custom Queries are currently supported!</h1>
@using(Html.BeginForm()) {
    @Html.Action("DashboardViewerPartial", new { id = Model.Id })
}
@section scripts{
    <script type="text/javascript">
        function ExportMe() {
            window.location.href = "@Href("~/Export/Index/" + Model.Id.ToString())";
        }

        $(function () {
            $("body").css("overflow", "auto");
        });

    </script>
}